{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="conteneur mb-5 mt-4">
        <h2>Le temps à {{donnees.name}}</h2>
        <div>Le {{dateJour|date('d/m/Y à H:i')}}</div>
        <div class="temps-previsions">{{donnees.weather[0].description}}</div>
        <div class="temps-previsions">
            <img src="http://openweathermap.org/img/w/{{donnees.weather[0].icon}}.png" class="temps-icone" />
            {{donnees.main.temp_max}}&deg;C
            <span class="temperature">{{donnees.main.temp_min}}&deg;C</span>
        </div>
        <div>Humidité : {{donnees.main.humidity}} %</div>
        <div>Vent : {{donnees.wind.speed}} km/h</div>
    </div>


    <div class="col-md-12 contenu-blanc">

        <h1>Les <span> Catégories de produits  </span></h1>
        {{ include('messages.html.twig') }}
        <div class="contenu container col-md-8 mt-4">
            <div class="card-columns">
                {% set compteur = 0 %}
                {% set tbCouleurs = ['success', 'danger', 'warning', 'primary', 'light', 'info'] %}
                {% for key, categorie in lesCategories %}
                    <a href ="{{ path('produit')}}" style="text-decoration:none; color: inherit;">   
                        <div class="card bg-{{ tbCouleurs[compteur]}}">
                            <div class="card-body text-center">
                                <h1 class="card-text">{{ categorie.libelle }}</h1>
                            </div>
                        </div>
                    </a>
                    {% set compteur = (compteur + 1) % tbCouleurs|length %}
                {% endfor %}
            </div>
        </div> <!--fin div contenu-->
    </div> <!--fin div col-md-6-->


{% endblock %}
